body {
  font-family: sans-serif;
  background-color: rgb(69, 69, 240);
  display: flex;
  justify-content: center;
}

.fa-search {
  margin-left: -390px;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: gray;
  padding: 5px;
}
.fa-times {
  margin-left: 320px;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: gray;
  padding: 5px;
}
input {
  height: 30px;
  min-width: 300px;
  padding: 10px 50px;
  font-size: 20px;
}
#app {
  padding: 30px;
  background-color: white;
  max-width: 400px;
  margin-top: 100px;
  border-radius: 5px;
}
#inputBox {
  display: flex;
}

#mainWord {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-volume-up {
  font-size: 20px;
  color: gray;
  padding: 5px;
}
#phonetic {
  font-style: italic;
}

#lastWord {
  text-decoration: underline;
}
/* #words{
  display: none;
} */

/* #para {
  animation: hideAnimation 5s ease-in 3s;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
  }
} */
